*logs*
*.log
*~
*/cache/
_vim/ropevim/src*
_vim/ropevim/pylibs*
*netrwhist
*.swp
*.pyc
*/xmonad.errors
*/xmonad-i386-linux
*.hi
*.o
_emacs.d/elpa/
_emacs.d/personal/
_emacs.d/sample/
_emacs.d/savefile
*/savefile/
_emacs.d/projectile-bookmarks.eld
